In trying to predict the outcome of March Madness Games it is first important to figure out the best teams. For this I will be putting together a Value Over Average statistic for each team based on every play of a season. 

Methodology:

Points scored in a close game are more important than a blowout. Points scored in a close game with only a few seconds left are more important than at the very beginning of a game. So with these in mind the value of a play needs to take into account both score and time remaining. 

The baseline value of a play will be points scored:

    Freethrow = 1
    2pter = 2
    3pter = 3

How to categorize defense?

    Blocks, steals, defensive rebounds can be used. Should the defensive team be rewarded for the other team missing? 
    
    There will be an OffenseType and DefenseType parameter for each value. 

Close games should result in higher values

    if deltaScore +- 5 add 10% ?
    
Time remaining should adjust this further. Down by 2 with 5 seconds and you hit a 3 should be extreme value. 
    Start this adjustment with 5 mins left in the game?
    Need to adjust for overtime

A miss should have an equally negative effect on a plays value in high stakes situations:
    under 5 mins with 6 points?


Thoughts for other factors:

Blowing out bad teams is more important than close wins against good teams. 
Do Assists indicate more stable teams?
Do % of points from jump shots indicate anything?


Adjustments:

Need to find ways to adjust for opponent, the conference the team plays in (the better conferences are just simply better)

In [131]:
import pandas as pd
import numpy as np

In [3]:
plays2015 = pd.read_csv('MEvents2015.csv')

In [4]:
plays2015.head()

,EventID,Season,DayNum,WTeamID,LTeamID,WFinalScore,LFinalScore,WCurrentScore,LCurrentScore,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,EventSubType,X,Y,Area
0,1,2015,11,1103,1420,74,57,0,0,19,1103,100,miss3,unk,0,0,0
1,2,2015,11,1103,1420,74,57,0,0,19,1420,11784,reb,def,0,0,0
2,3,2015,11,1103,1420,74,57,0,0,27,1420,11789,made2,dunk,0,0,0
3,4,2015,11,1103,1420,74,57,0,0,27,1420,11803,assist,NaN,0,0,0
4,5,2015,11,1103,1420,74,57,0,0,59,1103,87,made2,jump,0,0,0

In [5]:
event_types = plays2015['EventType'].unique()

In [6]:
event_types

array(['miss3', 'reb', 'made2', 'assist', 'turnover', 'steal', 'foul',
       'miss2', 'made3', 'timeout', 'sub', 'made1', 'miss1', 'block'],
      dtype=object)

In [7]:
def adjust_value(base_value, time_bonus, close_game, blown_out):
    if time_bonus == True:
        time_value = base_value * .1 #This can be adjusted but basically it adds value to outcomes in games 
    else:
        time_value = 0
    
    if close_game == True:
        close_value = base_value * .1
    else:
        close_value = 0
    
    adjusted_value = base_value + time_value + close_value
    
    if adjusted_value > 0 and blown_out == True: #If the team is being blown out offense doesnt matter
        adjusted_value = 0
    else:
        pass
    
    return adjusted_value

def get_value(event):
    # Calculate Current Score Differential (WinningTeam - LosingTeam):
    deltaScore = event['WCurrentScore'] - event['LCurrentScore']
    
    #Calculate time remaining and if time bonus is applicable
    time_remaining = 40*60 - event['ElapsedSeconds']
    if time_remaining <= 300:
        time_bonus = True
    else:
        time_bonus = False
        
    #Find out if close game bonus is in effect. This will be deltaScore of 6 or less and 5 mins or less
    if abs(deltaScore) <= 6 and time_bonus == True:
        close_game = True
    else:
        close_game = False
        
    #Find out if team is getting blown out. Check if deltaScore is > 15 and if the team is the winning team or not
    #This will only apply to Offensive Value Additions? 
    if deltaScore > 15 and event['EventTeamId']==event['LTeamID']: #Check if the event team is the team getting blown out
        blown_out = True
    else:
        blown_out = False
        
    #Determine if the event is Offensive or Defensive.
    if ((event['EventType'] == 'reb') & (event['EventSubType']=='def') or (event['EventType'] == 'block') or (event['EventType']=='steal')):
        ValueType = 'Def'
    else:
        ValueType = 'Off'
        
    #Determine base value:
    if event['EventType']=='made1':
        base_value = 1
    elif event['EventType']=='made2':
        base_value = 2
    elif event['EventType']=='made3':
        base_value = 3
    elif event['EventType']=='turnover':
        base_value = -1
    elif event['EventType']=='steal':
        base_value = -1
    elif event['EventType']=='block':
        base_value = -1
    elif (event['EventType'] == 'reb') & (event['EventSubType']=='def'):
        base_value = -1
    else:
        base_value = 0
        
    #Calculate adjusted value
    adjusted_value = adjust_value(base_value, time_bonus, close_game, blown_out)
    
    return adjusted_value

def get_value_type(event):
    #Determine if the event is Offensive or Defensive.
    if ((event['EventType'] == 'reb') & (event['EventSubType']=='def') or (event['EventType'] == 'block') or (event['EventType']=='steal')):
        ValueType = 'Def'
    else:
        ValueType = 'Off'
    return ValueType

#Want to add a gameID to the column for easing grouping
#to make it easier it will simply be made from the DayNum,WTeamID and LTeamID
def make_gameid(event):
    year = event['Season']
    DayNum = event['DayNum']
    wteam = event['WTeamID']
    lteam = event['LTeamID']
    
    game_id = int(str(year)+str(DayNum)+str(wteam)+str(lteam))
    return game_id

In [8]:
test_game = plays2015.loc[(plays2015['WTeamID']==1103) & (plays2015['LTeamID']==1420)]

In [9]:
test_game.head(20)

,EventID,Season,DayNum,WTeamID,LTeamID,WFinalScore,LFinalScore,WCurrentScore,LCurrentScore,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,EventSubType,X,Y,Area
0,1,2015,11,1103,1420,74,57,0,0,19,1103,100,miss3,unk,0,0,0
1,2,2015,11,1103,1420,74,57,0,0,19,1420,11784,reb,def,0,0,0
2,3,2015,11,1103,1420,74,57,0,0,27,1420,11789,made2,dunk,0,0,0
3,4,2015,11,1103,1420,74,57,0,0,27,1420,11803,assist,NaN,0,0,0
4,5,2015,11,1103,1420,74,57,0,0,59,1103,87,made2,jump,0,0,0
5,6,2015,11,1103,1420,74,57,0,0,72,1420,11784,turnover,unk,0,0,0
6,7,2015,11,1103,1420,74,57,0,0,73,1103,107,steal,NaN,0,0,0
7,8,2015,11,1103,1420,74,57,0,0,75,1420,11803,foul,unk,0,0,0
8,9,2015,11,1103,1420,74,57,0,0,94,1103,92,made2,jump,0,0,0
9,10,2015,11,1103,1420,74,57,0,0,101,1420,11789,made2,lay,0,0,0
10,11,2015,11,1103,1420,74,57,0,0,101,1420,11778,assist,NaN,0,0,0
11,12,2015,11,1103,1420,74,57,0,0,133,1103,107,miss3,unk,0,0,0
12,13,2015,11,1103,1420,74,57,0,0,133,1103,100,reb,off,0,0,0
13,14,2015,11,1103,1420,74,57,0,0,138,1103,112,miss2,jump,0,0,0
14,15,2015,11,1103,1420,74,57,0,0,138,1103,107,reb,off,0,0,0
15,16,2015,11,1103,1420,74,57,0,0,146,1103,107,turnover,unk,0,0,0
16,17,2015,11,1103,1420,74,57,0,0,181,1420,11803,miss3,unk,0,0,0
17,18,2015,11,1103,1420,74,57,0,0,181,1103,112,reb,def,0,0,0
18,19,2015,11,1103,1420,74,57,0,0,188,1103,100,made3,unk,0,0,0
19,20,2015,11,1103,1420,74,57,0,0,188,1103,112,assist,NaN,0,0,0

In [10]:
test_game['Value'] = test_game.apply(get_value,axis=1)
test_game['ValueType'] = test_game.apply(get_value_type, axis=1)

C:\Programming\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Programming\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
test_game.head(20)

,EventID,Season,DayNum,WTeamID,LTeamID,WFinalScore,LFinalScore,WCurrentScore,LCurrentScore,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,EventSubType,X,Y,Area,Value,ValueType
0,1,2015,11,1103,1420,74,57,0,0,19,1103,100,miss3,unk,0,0,0,0.0,Off
1,2,2015,11,1103,1420,74,57,0,0,19,1420,11784,reb,def,0,0,0,-1.0,Def
2,3,2015,11,1103,1420,74,57,0,0,27,1420,11789,made2,dunk,0,0,0,2.0,Off
3,4,2015,11,1103,1420,74,57,0,0,27,1420,11803,assist,NaN,0,0,0,0.0,Off
4,5,2015,11,1103,1420,74,57,0,0,59,1103,87,made2,jump,0,0,0,2.0,Off
5,6,2015,11,1103,1420,74,57,0,0,72,1420,11784,turnover,unk,0,0,0,-1.0,Off
6,7,2015,11,1103,1420,74,57,0,0,73,1103,107,steal,NaN,0,0,0,-1.0,Def
7,8,2015,11,1103,1420,74,57,0,0,75,1420,11803,foul,unk,0,0,0,0.0,Off
8,9,2015,11,1103,1420,74,57,0,0,94,1103,92,made2,jump,0,0,0,2.0,Off
9,10,2015,11,1103,1420,74,57,0,0,101,1420,11789,made2,lay,0,0,0,2.0,Off
10,11,2015,11,1103,1420,74,57,0,0,101,1420,11778,assist,NaN,0,0,0,0.0,Off
11,12,2015,11,1103,1420,74,57,0,0,133,1103,107,miss3,unk,0,0,0,0.0,Off
12,13,2015,11,1103,1420,74,57,0,0,133,1103,100,reb,off,0,0,0,0.0,Off
13,14,2015,11,1103,1420,74,57,0,0,138,1103,112,miss2,jump,0,0,0,0.0,Off
14,15,2015,11,1103,1420,74,57,0,0,138,1103,107,reb,off,0,0,0,0.0,Off
15,16,2015,11,1103,1420,74,57,0,0,146,1103,107,turnover,unk,0,0,0,-1.0,Off
16,17,2015,11,1103,1420,74,57,0,0,181,1420,11803,miss3,unk,0,0,0,0.0,Off
17,18,2015,11,1103,1420,74,57,0,0,181,1103,112,reb,def,0,0,0,-1.0,Def
18,19,2015,11,1103,1420,74,57,0,0,188,1103,100,made3,unk,0,0,0,3.0,Off
19,20,2015,11,1103,1420,74,57,0,0,188,1103,112,assist,NaN,0,0,0,0.0,Off

In [12]:
test_game.groupby(['EventTeamID','ValueType']).sum()

                       EventID  Season  DayNum  WTeamID  LTeamID  WFinalScore  \
EventTeamID ValueType
1103        Def           8821   74555     407    40811    52540         2738
            Off          54353  451360    2464   247072   318080        16576
1420        Def           8275   64480     352    35296    45440         2368
            Off          47867  392925    2145   215085   276900        14430

                       LFinalScore  WCurrentScore  LCurrentScore  \
EventTeamID ValueType
1103        Def               2109              0              0
            Off              12768              0              0
1420        Def               1824              0              0
            Off              11115              0              0

                       ElapsedSeconds  EventPlayerID  X  Y  Area  Value
EventTeamID ValueType
1103        Def                 48159           3345  0  0     0  -37.4
            Off                293775          32245  0  0     0   63.2
1420        Def                 44371         365508  0  0     0  -33.2
            Off                257866        2121994  0  0     0   44.0

In [13]:
plays2015['Value'] = plays2015.apply(get_value,axis=1)
plays2015['ValueType'] = plays2015.apply(get_value_type, axis=1)
plays2015['GameID'] = plays2015.apply(make_gameid, axis=1)

In [14]:
teams2015 = plays2015.groupby(['EventTeamID','ValueType']).sum()

In [15]:
teams2015.tail(10)

                           EventID    Season  DayNum   WTeamID   LTeamID  \
EventTeamID ValueType
1460        Def          996091559   1706705   56198   1150627   1178423
            Off         6640197775  11735360  376132   7836594   8127456
1461        Def         1408239982   2109705   77757   1484790   1389156
            Off         7710844050  11275940  424823   7923800   7455259
1462        Def         1692002457   2512705   93967   1748259   1649185
            Off        10655545481  15858050  592166  10995041  10418823
1463        Def         1223323113   2012985   68150   1399594   1305029
            Off         6830320057  11501620  381964   7958044   7521447
1464        Def          959158742   1744990   54554   1168973   1231671
            Off         6018257746  11175190  343649   7435581   7917508

                       WFinalScore  LFinalScore  WCurrentScore  LCurrentScore  \
EventTeamID ValueType
1460        Def              59850        51011              0              0
            Off             416753       353865              0              0
1461        Def              67794        55968              0              0
            Off             365690       303358              0              0
1462        Def              94940        80124              0              0
            Off             602469       512842              0              0
1463        Def              67627        58494              0              0
            Off             393448       339482              0              0
1464        Def              68545        60003              0              0
            Off             439299       383501              0              0

                       ElapsedSeconds  EventPlayerID  X  Y  Area   Value  \
EventTeamID ValueType
1460        Def               1042589       10583018  0  0     0  -870.8
            Off               7420355       71888725  0  0     0  1525.6
1461        Def               1336053       12858766  0  0     0 -1082.8
            Off               7445355       68633641  0  0     0  1712.8
1462        Def               1510558       15892368  0  0     0 -1283.2
            Off              10436864       97936781  0  0     0  2338.0
1463        Def               1261159       11851510  0  0     0 -1033.0
            Off               7703357       64525009  0  0     0  1637.2
1464        Def               1045633        9342041  0  0     0  -888.4
            Off               7205236       59196753  0  0     0  1768.6

                                   GameID
EventTeamID ValueType
1460        Def         53705381307448080
            Off        356229241574076288
1461        Def         81131690549289184
            Off        449931611545465920
1462        Def         94956214184239328
            Off        592791726560803328
1463        Def         71277378997245336
            Off        395965625987966144
1464        Def         49010267090961712
            Off        306012189263735744

In [16]:
teams = pd.read_csv('MTeams.csv')

In [17]:
teams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2020
1    1102    Air Force           1985          2020
2    1103        Akron           1985          2020
3    1104      Alabama           1985          2020
4    1105  Alabama A&M           2000          2020

In [18]:
team_ids = teams2015.index.get_level_values(0).unique()

In [19]:
team_ids = team_ids.drop(0)

In [20]:
team_ids

Int64Index([1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1110, 1111,
            ...
            1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464],
           dtype='int64', name='EventTeamID', length=351)

In [21]:
def_value = []
off_value = []
total_value = []
for team in team_ids:
    def_value.append(teams2015.xs(team)['Value'][0])
    off_value.append(teams2015.xs(team)['Value'][1])
    total_value.append(off_value[-1] - def_value[-1])

In [22]:
df_value = pd.DataFrame(zip(list(team_ids),def_value,off_value,total_value),columns=['TeamID','Def Value','Off Value','Total Value'])

In [23]:
df_value.tail()

     TeamID  Def Value  Off Value  Total Value
346    1460     -870.8     1525.6       2396.4
347    1461    -1082.8     1712.8       2795.6
348    1462    -1283.2     2338.0       3621.2
349    1463    -1033.0     1637.2       2670.2
350    1464     -888.4     1768.6       2657.0

In [24]:
test_game['GameID'] = test_game.apply(make_gameid,axis=1)

C:\Programming\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
test_game.head()

,EventID,Season,DayNum,WTeamID,LTeamID,WFinalScore,LFinalScore,WCurrentScore,LCurrentScore,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,EventSubType,X,Y,Area,Value,ValueType,GameID
0,1,2015,11,1103,1420,74,57,0,0,19,1103,100,miss3,unk,0,0,0,0.0,Off,20151111031420
1,2,2015,11,1103,1420,74,57,0,0,19,1420,11784,reb,def,0,0,0,-1.0,Def,20151111031420
2,3,2015,11,1103,1420,74,57,0,0,27,1420,11789,made2,dunk,0,0,0,2.0,Off,20151111031420
3,4,2015,11,1103,1420,74,57,0,0,27,1420,11803,assist,NaN,0,0,0,0.0,Off,20151111031420
4,5,2015,11,1103,1420,74,57,0,0,59,1103,87,made2,jump,0,0,0,2.0,Off,20151111031420

In [26]:
games2015 = plays2015.groupby(by=['GameID','EventTeamID','ValueType']).sum()['Value']

In [27]:
games2015.head()

GameID          EventTeamID  ValueType
20151111031420  1103         Def         -37.4
                             Off          63.2
                1420         Def         -33.2
                             Off          44.0
20151111041406  1104         Def         -44.4
Name: Value, dtype: float64

In [28]:
games2015[20151111031420,1103,'Def']

-37.400000000000006

In [29]:
test_game_id = 20151111031420

In [30]:
games2015.index.get_level_values(0)

Int64Index([ 20151111031420,  20151111031420,  20151111031420,  20151111031420,
             20151111041406,  20151111041406,  20151111041406,  20151111041406,
             20151111121291,  20151111121291,
            ...
            201515013901274, 201515013901274, 201515211811277, 201515211811277,
            201515211811277, 201515211811277, 201515214581246, 201515214581246,
            201515214581246, 201515214581246],
           dtype='int64', name='GameID', length=21924)

In [31]:
#Get the opponent teamID from just gameID
a = games2015.loc[20151111031420].index.get_level_values(0).unique()
a

Int64Index([1103, 1420], dtype='int64', name='EventTeamID')

In [32]:
b = [i for i in a if i != 1390][0]
b

1103

In [33]:
games2015.loc[20151111031420,b,'Off']

63.2

In [34]:
team_ids

Int64Index([1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1110, 1111,
            ...
            1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464],
           dtype='int64', name='EventTeamID', length=351)

In [35]:
def get_opponent_avgs(team_id):
    game_ids = games2015[:,team_id,'Def'].index
    num_games = len(game_ids) #This will be useful
    
    opponent_off_value = []
    opponent_def_value = []
    
    for game in game_ids:
        opponent = [i for i in games2015.loc[game].index.get_level_values(0).unique() if i != team_id][0]
        opponent_off_value.append(games2015[game,opponent,'Off'])
        opponent_def_value.append(games2015[game,opponent,'Def'])
        
    opponent_avg_off_value = sum(opponent_off_value) / len(opponent_off_value)
    opponent_avg_def_value = sum(opponent_def_value) / len(opponent_def_value)
    
    df_info = pd.DataFrame([[team_id,num_games,opponent_avg_off_value,opponent_avg_def_value]],columns=['TeamID','Games Played','Opponents Avg Off Value','Opponents Avg Def Value'])
    
    return df_info

df_opponents_avgs = pd.DataFrame([],columns=['TeamID','Games Played','Opponents Avg Off Value','Opponents Avg Def Value'])

for team in team_ids:
    df_opponents_avgs = df_opponents_avgs.append(get_opponent_avgs(team),ignore_index=True)

In [36]:
get_opponent_avgs(1390)

   TeamID  Games Played  Opponents Avg Off Value  Opponents Avg Def Value
0    1390            37                     57.8               -31.854054

In [37]:
df_opponents_avgs.head()

  TeamID Games Played  Opponents Avg Off Value  Opponents Avg Def Value
0   1101           28                60.178571               -36.900000
1   1102           29                55.372414               -31.379310
2   1103           34                52.629412               -34.917647
3   1104           33                54.345455               -30.442424
4   1105           28                58.742857               -33.757143

In [38]:
df_value.head()

   TeamID  Def Value  Off Value  Total Value
0    1101     -770.0     1389.0       2159.0
1    1102     -868.2     1596.0       2464.2
2    1103    -1211.8     1929.2       3141.0
3    1104    -1120.6     1885.6       3006.2
4    1105     -849.6     1363.6       2213.2

In [39]:
#Now need to adjust the value a team generated in a game to the average of the opponent

def adjusted_value(team_id):
    game_ids = games2015[:,team_id,'Def'].index
    num_games = len(game_ids) #This will be useful
    
    adjusted_off_value = []
    adjusted_def_value = []
    
    for game in game_ids:
        opponent = [i for i in games2015[game].index.get_level_values(0).unique() if i != team_id][0] #This gives the opponents id for the game
        
        adjusted_off_value.append(games2015[game,team_id,'Off'] - df_opponents_avgs.loc[df_opponents_avgs['TeamID']==opponent]['Opponents Avg Off Value'].reset_index(drop=True)[0])
        adjusted_def_value.append(games2015[game,team_id,'Def'] - df_opponents_avgs.loc[df_opponents_avgs['TeamID']==opponent]['Opponents Avg Def Value'].reset_index(drop=True)[0])

    adjusted_off_value = sum(adjusted_off_value) / len(adjusted_off_value)
    adjusted_def_value = sum(adjusted_def_value) / len(adjusted_def_value)
    
    total_adjusted_mean_value = adjusted_off_value - adjusted_def_value
    
    df_info = pd.DataFrame([[team_id,num_games,adjusted_off_value,adjusted_def_value,total_adjusted_mean_value]],columns=['TeamID','Number of Games','Average Adjusted Off Value','Average Adjusted Def Value','Total Average Value'])
    
    return df_info

df_avgs = pd.DataFrame([],columns=['TeamID','Number of Games','Average Adjusted Off Value','Average Adjusted Def Value','Total Average Value'])

for team in team_ids:
    df_avgs = df_avgs.append(adjusted_value(team),ignore_index=True)

In [40]:
df_avgs.head()

,TeamID,Number of Games,Average Adjusted Off Value,Average Adjusted Def Value,Total Average Value
0,1101,28,-9.281126,6.700034,-15.981160
1,1102,29,0.110310,3.613836,-3.503526
2,1103,34,-0.643615,-1.324789,0.681174
3,1104,33,2.575164,-0.681135,3.256298
4,1105,28,-8.160042,4.921737,-13.081779

In [41]:
#Combine this with the teams df
teams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2020
1    1102    Air Force           1985          2020
2    1103        Akron           1985          2020
3    1104      Alabama           1985          2020
4    1105  Alabama A&M           2000          2020

In [42]:
test = teams.set_index('TeamID').join(df_avgs.set_index('TeamID'))

In [43]:
test.sort_values(by='Total Average Value',ascending=False).head(40)

,TeamName,FirstD1Season,LastD1Season,Number of Games,Average Adjusted Off Value,Average Adjusted Def Value,Total Average Value
TeamID,,,,,,,
1140,BYU,1985,2020,33,16.711056,-4.047945,20.759001
1314,North Carolina,1985,2020,38,13.759795,-6.125518,19.885313
1181,Duke,1985,2020,38,15.412359,-4.460092,19.872451
1235,Iowa St,1985,2020,34,15.077387,-4.166219,19.243606
1323,Notre Dame,1985,2020,38,15.443871,-2.363674,17.807545
1246,Kentucky,1985,2020,39,10.907812,-6.658158,17.565970
1211,Gonzaga,1985,2020,36,12.679035,-4.492412,17.171447
1233,Iona,1985,2020,35,13.465030,-2.706754,16.171784
1112,Arizona,1985,2020,38,11.231602,-4.304155,15.535757
1116,Arkansas,1985,2020,36,12.542857,-2.794523,15.337381
1322,Northwestern LA,1985,2020,28,15.228015,0.027546,15.200469
1326,Ohio St,1985,2020,35,10.445731,-4.665523,15.111254
1433,VCU,1985,2020,36,10.207402,-4.850936,15.058339
1172,Davidson,1985,2020,31,15.113643,0.117022,14.996621
1437,Villanova,1985,2020,36,11.676686,-2.817729,14.494414
1242,Kansas,1985,2020,36,8.230009,-5.810023,14.040031
1293,Murray St,1985,2020,33,12.081299,-1.953836,14.035135
1138,Buffalo,1992,2020,33,9.591437,-4.382154,13.973591
1261,LSU,1985,2020,33,5.975911,-7.940749,13.916659
1231,Indiana,1985,2020,34,13.056601,0.002438,13.054163
1328,Oklahoma,1985,2020,35,6.662747,-6.296787,12.959534
1220,Hofstra,1985,2020,34,11.465993,-1.090869,12.556862
1385,St John's,1985,2020,32,6.195106,-6.294232,12.489337
1186,E Washington,1985,2020,32,10.611607,-1.733294,12.344900
1277,Michigan St,1985,2020,39,7.687770,-4.544172,12.231942
1279,Mississippi,1985,2020,34,9.050016,-3.092279,12.142296
1256,Louisiana Tech,1985,2020,35,8.318974,-3.642681,11.961655
1161,Colorado St,1985,2020,33,8.867464,-3.091246,11.958710
1458,Wisconsin,1985,2020,39,12.331850,0.644317,11.687533
1230,Incarnate Word,2014,2020,25,9.698881,-1.677143,11.376025
1332,Oregon,1985,2020,35,8.652630,-2.716699,11.369329
1455,Wichita St,1985,2020,34,8.420665,-2.836025,11.256689
1301,NC State,1985,2020,36,8.085886,-2.968949,11.054835
1257,Louisville,1985,2020,36,4.766223,-6.106718,10.872940
1462,Xavier,1985,2020,37,8.723934,-1.625297,10.349232
1417,UCLA,1985,2020,36,6.105036,-4.037058,10.142094
1440,VMI,1985,2020,28,6.100731,-4.017048,10.117779
1234,Iowa,1985,2020,34,5.644429,-4.075729,9.720157
1278,Minnesota,1985,2020,32,7.638422,-2.059137,9.697559
1424,UNLV,1985,2020,32,3.839842,-5.796368,9.636211

In [44]:
data = teams.set_index('TeamID').join(df_value.set_index('TeamID'))
#By leaving it as total's for the value column the analysis rewards teams that played more games = conference tourney success

In [45]:
data=data.join(df_avgs.set_index('TeamID'))
data.drop(['FirstD1Season','LastD1Season'],axis=1,inplace=True)
data.sort_values(by='Off Value',ascending=False).head(30)

,TeamName,Def Value,Off Value,Total Value,Number of Games,Average Adjusted Off Value,Average Adjusted Def Value,Total Average Value
TeamID,,,,,,,,
1181,Duke,-1419.8,2684.0,4103.8,38,15.412359,-4.460092,19.872451
1323,Notre Dame,-1351.4,2679.4,4030.8,38,15.443871,-2.363674,17.807545
1458,Wisconsin,-1265.8,2622.2,3888.0,39,12.331850,0.644317,11.687533
1112,Arizona,-1429.6,2568.6,3998.2,38,11.231602,-4.304155,15.535757
1246,Kentucky,-1551.8,2556.0,4107.8,39,10.907812,-6.658158,17.565970
1314,North Carolina,-1462.6,2549.2,4011.8,38,13.759795,-6.125518,19.885313
1211,Gonzaga,-1355.2,2486.6,3841.8,36,12.679035,-4.492412,17.171447
1437,Villanova,-1324.4,2440.6,3765.0,36,11.676686,-2.817729,14.494414
1116,Arkansas,-1299.6,2433.4,3733.0,36,12.542857,-2.794523,15.337381
1233,Iona,-1304.6,2419.6,3724.2,35,13.465030,-2.706754,16.171784
1277,Michigan St,-1445.8,2419.0,3864.8,39,7.687770,-4.544172,12.231942
1140,BYU,-1215.8,2394.8,3610.6,33,16.711056,-4.047945,20.759001
1220,Hofstra,-1214.2,2360.2,3574.4,34,11.465993,-1.090869,12.556862
1390,Stanford,-1278.0,2353.2,3631.2,37,7.495282,-1.436215,8.931498
1235,Iowa St,-1283.2,2338.8,3622.0,34,15.077387,-4.166219,19.243606
1462,Xavier,-1283.2,2338.0,3621.2,37,8.723934,-1.625297,10.349232
1231,Indiana,-1126.4,2313.6,3440.0,34,13.056601,0.002438,13.054163
1433,VCU,-1366.8,2307.6,3674.4,36,10.207402,-4.850936,15.058339
1326,Ohio St,-1331.0,2302.8,3633.8,35,10.445731,-4.665523,15.111254
1274,Miami FL,-1309.8,2286.4,3596.2,38,5.659344,-1.333088,6.992432
1332,Oregon,-1268.4,2279.6,3548.0,35,8.652630,-2.716699,11.369329
1186,E Washington,-1129.0,2264.4,3393.4,32,10.611607,-1.733294,12.344900
1256,Louisiana Tech,-1339.6,2254.0,3593.6,35,8.318974,-3.642681,11.961655
1293,Murray St,-1183.0,2254.0,3437.0,33,12.081299,-1.953836,14.035135
1301,NC State,-1289.8,2226.8,3516.6,36,8.085886,-2.968949,11.054835
1417,UCLA,-1338.8,2220.0,3558.8,36,6.105036,-4.037058,10.142094
1172,Davidson,-1061.4,2192.8,3254.2,31,15.113643,0.117022,14.996621
1319,Northern Arizona,-1290.4,2188.4,3478.8,37,-0.503355,-1.335964,0.832609
1279,Mississippi,-1240.8,2169.6,3410.4,34,9.050016,-3.092279,12.142296
1242,Kansas,-1385.6,2169.2,3554.8,36,8.230009,-5.810023,14.040031

In [46]:
#With the value stats completed (can still look at adjusting the parameters) now can began completing some season total stats. W,L,windiff etc.

stats = pd.read_csv('MRegularSeasonDetailedResults.csv')

In [47]:
stats.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [48]:
def get_year_stats(year):
    stats_year = stats.loc[stats['Season']==year]
    
    avg_win_diffs = []
    avg_game_diffs = []
    num_wins = []
    num_losses = []
    for team in team_ids:
        #Find the average WinDiff for each team
        team_wins = stats_year.loc[stats_year['WTeamID']==team]
        team_avg_win_diff = (team_wins['WScore'].sum() - team_wins['LScore'].sum()) / len(team_wins['WScore'])
        avg_win_diffs.append(round(team_avg_win_diff,2))
        
        #Get total average game diff
        
        team_losses = stats_year.loc[stats_year['LTeamID']==team]
        team_avg_game_diff = (team_wins['WScore'].sum() + team_losses['LScore'].sum() - team_wins['LScore'].sum() - team_losses['WScore'].sum()) / len(team_wins['WScore'])
        avg_game_diffs.append(round(team_avg_game_diff,2))
        
        #Team counting stats
        num_wins.append(len(team_wins))
        num_losses.append(len(team_losses))
        
        
    df_info = pd.DataFrame(zip(team_ids, [year]*len(num_wins), num_wins, num_losses, avg_win_diffs, avg_game_diffs),columns=['TeamID','Year','Wins','Losses','Avg Win Diff','Avg Game Diff'])
        
        
    return df_info

In [49]:
df_win_diffs = get_year_stats(2015)

C:\Programming\Anaconda\lib\site-packages\ipykernel_launcher.py:11: RuntimeWarning: invalid value encountered in longlong_scalars
  # This is added back by InteractiveShellApp.init_path()
C:\Programming\Anaconda\lib\site-packages\ipykernel_launcher.py:17: RuntimeWarning: divide by zero encountered in longlong_scalars

In [50]:
data=data.join(df_win_diffs.set_index('TeamID'))

In [51]:
data.sort_values(by='Avg Game Diff',ascending=False).head(40)

,TeamName,Def Value,Off Value,Total Value,Number of Games,Average Adjusted Off Value,Average Adjusted Def Value,Total Average Value,Year,Wins,Losses,Avg Win Diff,Avg Game Diff
TeamID,,,,,,,,,,,,,
1246,Kentucky,-1551.8,2556.0,4107.8,39,10.907812,-6.658158,17.565970,2015.0,34.0,0.0,20.94,20.94
1112,Arizona,-1429.6,2568.6,3998.2,38,11.231602,-4.304155,15.535757,2015.0,31.0,3.0,19.84,19.55
1428,Utah,-1255.0,2083.2,3338.2,34,4.450880,-3.348267,7.799147,2015.0,23.0,8.0,22.30,19.52
1326,Ohio St,-1331.0,2302.8,3633.8,35,10.445731,-4.665523,15.111254,2015.0,23.0,10.0,22.74,19.26
1211,Gonzaga,-1355.2,2486.6,3841.8,36,12.679035,-4.492412,17.171447,2015.0,31.0,2.0,18.42,18.23
1458,Wisconsin,-1265.8,2622.2,3888.0,39,12.331850,0.644317,11.687533,2015.0,31.0,3.0,17.97,17.29
1181,Duke,-1419.8,2684.0,4103.8,38,15.412359,-4.460092,19.872451,2015.0,29.0,4.0,18.55,17.10
1437,Villanova,-1324.4,2440.6,3765.0,36,11.676686,-2.817729,14.494414,2015.0,32.0,2.0,17.12,16.34
1438,Virginia,-1239.2,1974.4,3213.6,34,2.410093,-2.958237,5.368330,2015.0,29.0,3.0,16.52,16.10
1372,SF Austin,-1040.6,2042.6,3083.2,31,6.935395,0.916768,6.018627,2015.0,26.0,4.0,17.23,15.54
1323,Notre Dame,-1351.4,2679.4,4030.8,38,15.443871,-2.363674,17.807545,2015.0,29.0,5.0,17.03,15.45
1455,Wichita St,-1199.8,2099.6,3299.4,34,8.420665,-2.836025,11.256689,2015.0,27.0,4.0,15.67,14.70
1220,Hofstra,-1214.2,2360.2,3574.4,34,11.465993,-1.090869,12.556862,2015.0,20.0,13.0,19.40,14.20
1314,North Carolina,-1462.6,2549.2,4011.8,38,13.759795,-6.125518,19.885313,2015.0,24.0,11.0,17.67,13.88
1328,Oklahoma,-1388.2,2140.6,3528.8,35,6.662747,-6.296787,12.959534,2015.0,22.0,10.0,16.59,13.36
1172,Davidson,-1061.4,2192.8,3254.2,31,15.113643,0.117022,14.996621,2015.0,23.0,7.0,16.96,13.17
1257,Louisville,-1413.6,2150.0,3563.6,36,4.766223,-6.106718,10.872940,2015.0,24.0,8.0,15.67,12.92
1300,NC Central,-982.6,1565.4,2548.0,29,-3.348927,1.376788,-4.725715,2015.0,22.0,7.0,17.36,12.91
1436,Vermont,-1233.4,1822.6,3056.0,33,0.087320,-2.864084,2.951404,2015.0,17.0,13.0,17.29,12.76
1358,Sam Houston St,-1155.4,1834.6,2990.0,31,-0.095899,-2.814624,2.718725,2015.0,21.0,8.0,15.43,12.57
1277,Michigan St,-1445.8,2419.0,3864.8,39,7.687770,-4.544172,12.231942,2015.0,23.0,11.0,15.65,12.52
1400,Texas,-1357.2,1917.4,3274.6,34,2.729500,-6.034660,8.764160,2015.0,20.0,13.0,18.05,12.45
1140,BYU,-1215.8,2394.8,3610.6,33,16.711056,-4.047945,20.759001,2015.0,23.0,9.0,14.74,12.39
1124,Baylor,-1212.0,1917.0,3129.0,33,5.056004,-3.308456,8.364460,2015.0,23.0,9.0,15.00,12.26
1139,Butler,-1184.4,2038.6,3223.0,34,3.219280,-1.389568,4.608848,2015.0,22.0,10.0,16.00,12.18
1320,Northern Iowa,-1104.8,1906.0,3010.8,34,3.016474,0.169691,2.846782,2015.0,30.0,3.0,12.93,12.17
1308,New Mexico St,-1069.4,1778.0,2847.4,32,0.389073,-0.133382,0.522455,2015.0,21.0,10.0,15.52,12.14
1129,Boise St,-1061.0,1959.2,3020.2,32,6.358732,-0.076421,6.435154,2015.0,23.0,8.0,14.74,12.04
1235,Iowa St,-1283.2,2338.8,3622.0,34,15.077387,-4.166219,19.243606,2015.0,25.0,8.0,14.12,12.00
1374,SMU,-1224.0,1935.2,3159.2,33,4.061269,-3.378430,7.439699,2015.0,26.0,6.0,13.85,11.92
1293,Murray St,-1183.0,2254.0,3437.0,33,12.081299,-1.953836,14.035135,2015.0,25.0,5.0,14.56,11.80
1234,Iowa,-1261.2,2056.0,3317.2,34,5.644429,-4.075729,9.720157,2015.0,21.0,11.0,17.38,11.48
1209,Georgia St,-1244.4,2092.8,3337.2,34,5.257037,-2.168731,7.425768,2015.0,23.0,9.0,14.83,11.39
1330,Old Dominion,-1197.2,1958.6,3155.8,35,-0.350948,0.258605,-0.609553,2015.0,24.0,7.0,14.33,11.17
1361,San Diego St,-1238.8,1819.0,3057.8,35,-2.254717,-2.723414,0.468696,2015.0,25.0,8.0,13.24,10.88
1228,Illinois,-1127.0,2017.0,3144.0,33,5.564210,-0.822106,6.386316,2015.0,19.0,13.0,17.74,10.63
1395,TCU,-1184.8,1914.6,3099.4,33,2.459809,-1.503705,3.963514,2015.0,18.0,15.0,19.67,10.61
1355,S Dakota St,-1171.8,2091.2,3263.0,33,5.358005,-1.691157,7.049162,2015.0,21.0,10.0,14.43,10.52
1434,Valparaiso,-1118.6,1792.0,2910.6,31,0.042564,-1.953567,1.996131,2015.0,25.0,5.0,12.40,10.40
1153,Cincinnati,-1238.6,1745.4,2984.0,34,-1.793148,-2.662750,0.869602,2015.0,22.0,10.0,13.91,10.32

In [52]:
#Try and grab the Kenpom ratings #Note that for previous years this will include the tourney games

In [53]:
kenpom2015 = pd.read_csv('2015Kenpom.csv')

In [54]:
kenpom2015.head()

    TeamName  Kenpom Overall  Kenpom Tempo  Kenpom RankAdjOE  Kenpom RankAdjDE
0   Kentucky               1           251                 5                 2
1    Arizona               2            78                11                 3
2  Wisconsin               3           347                 1                30
3   Virginia               4           349                27                 1
4  Villanova               5           181                 4                13

In [55]:
# Check for any errors in the kenpom document
for name in kenpom2015['TeamName']:
    dict_fix = {}
    try:
        team_id = data.loc[data['TeamName']==name.strip('.')].index[0]
    except IndexError:
        print('{} is not in the database'.format(name))
        correct = input('What is the correct spelling')        
        dict_fix[name] = correct

In [56]:
data.loc[data['TeamName']=='Arizona']

,TeamName,Def Value,Off Value,Total Value,Number of Games,Average Adjusted Off Value,Average Adjusted Def Value,Total Average Value,Year,Wins,Losses,Avg Win Diff,Avg Game Diff
TeamID,,,,,,,,,,,,,
1112,Arizona,-1429.6,2568.6,3998.2,38,11.231602,-4.304155,15.535757,2015.0,31.0,3.0,19.84,19.55

In [57]:
kenpom2015.loc[kenpom2015['TeamName']=='Arizona']

  TeamName  Kenpom Overall  Kenpom Tempo  Kenpom RankAdjOE  Kenpom RankAdjDE
1  Arizona               2            78                11                 3

In [58]:
kenpom2015.head()

    TeamName  Kenpom Overall  Kenpom Tempo  Kenpom RankAdjOE  Kenpom RankAdjDE
0   Kentucky               1           251                 5                 2
1    Arizona               2            78                11                 3
2  Wisconsin               3           347                 1                30
3   Virginia               4           349                27                 1
4  Villanova               5           181                 4                13

In [59]:
def get_team_id(team):
    try:
        team_data = pd.read_csv('MTeams.csv')
        team_id = team_data.loc[team_data['TeamName']==team]['TeamID'].values[0]
        return team_id
    except IndexError:
        print(team)

In [60]:
kenpom2015['TeamID'] = kenpom2015.apply(lambda team: get_team_id(team['TeamName'].strip('.')),axis=1)

In [61]:
kenpom2015.set_index('TeamID',inplace=True)

In [62]:
#Join Kenpom and data dataframes
df_all_2015 = data.join(kenpom2015.drop('TeamName',axis=1))

In [63]:
kenpom2015.head()

,TeamName,Kenpom Overall,Kenpom Tempo,Kenpom RankAdjOE,Kenpom RankAdjDE
TeamID,,,,,
1246,Kentucky,1,251,5,2
1112,Arizona,2,78,11,3
1458,Wisconsin,3,347,1,30
1438,Virginia,4,349,27,1
1437,Villanova,5,181,4,13

In [64]:
data.head()

,TeamName,Def Value,Off Value,Total Value,Number of Games,Average Adjusted Off Value,Average Adjusted Def Value,Total Average Value,Year,Wins,Losses,Avg Win Diff,Avg Game Diff
TeamID,,,,,,,,,,,,,
1101,Abilene Chr,-770.0,1389.0,2159.0,28,-9.281126,6.700034,-15.981160,2015.0,7.0,21.0,12.14,-43.43
1102,Air Force,-868.2,1596.0,2464.2,29,0.110310,3.613836,-3.503526,2015.0,12.0,17.0,13.67,-2.75
1103,Akron,-1211.8,1929.2,3141.0,34,-0.643615,-1.324789,0.681174,2015.0,20.0,14.0,11.90,7.00
1104,Alabama,-1120.6,1885.6,3006.2,33,2.575164,-0.681135,3.256298,2015.0,17.0,14.0,10.35,3.88
1105,Alabama A&M,-849.6,1363.6,2213.2,28,-8.160042,4.921737,-13.081779,2015.0,8.0,20.0,9.00,-26.00

In [65]:
df_all_2015.sort_values(by='Total Average Value',ascending=False).head(10)

,TeamName,Def Value,Off Value,Total Value,Number of Games,Average Adjusted Off Value,Average Adjusted Def Value,Total Average Value,Year,Wins,Losses,Avg Win Diff,Avg Game Diff,Kenpom Overall,Kenpom Tempo,Kenpom RankAdjOE,Kenpom RankAdjDE
TeamID,,,,,,,,,,,,,,,,,
1140,BYU,-1215.8,2394.8,3610.6,33,16.711056,-4.047945,20.759001,2015.0,23.0,9.0,14.74,12.39,31.0,6.0,9.0,139.0
1314,North Carolina,-1462.6,2549.2,4011.8,38,13.759795,-6.125518,19.885313,2015.0,24.0,11.0,17.67,13.88,16.0,10.0,12.0,45.0
1181,Duke,-1419.8,2684.0,4103.8,38,15.412359,-4.460092,19.872451,2015.0,29.0,4.0,18.55,17.10,7.0,103.0,3.0,57.0
1235,Iowa St,-1283.2,2338.8,3622.0,34,15.077387,-4.166219,19.243606,2015.0,25.0,8.0,14.12,12.00,13.0,15.0,7.0,82.0
1323,Notre Dame,-1351.4,2679.4,4030.8,38,15.443871,-2.363674,17.807545,2015.0,29.0,5.0,17.03,15.45,10.0,204.0,2.0,112.0
1246,Kentucky,-1551.8,2556.0,4107.8,39,10.907812,-6.658158,17.565970,2015.0,34.0,0.0,20.94,20.94,1.0,251.0,5.0,2.0
1211,Gonzaga,-1355.2,2486.6,3841.8,36,12.679035,-4.492412,17.171447,2015.0,31.0,2.0,18.42,18.23,6.0,153.0,6.0,20.0
1233,Iona,-1304.6,2419.6,3724.2,35,13.465030,-2.706754,16.171784,2015.0,26.0,8.0,11.38,8.88,108.0,17.0,39.0,233.0
1112,Arizona,-1429.6,2568.6,3998.2,38,11.231602,-4.304155,15.535757,2015.0,31.0,3.0,19.84,19.55,2.0,78.0,11.0,3.0
1116,Arkansas,-1299.6,2433.4,3733.0,36,12.542857,-2.794523,15.337381,2015.0,26.0,8.0,13.23,10.31,29.0,9.0,21.0,81.0

df_all_2015 contains all the data from each team in one place for the 2015 season. Now to set up a method to generate all possible matchups in the 2015 tourney and simulate the outcomes

In [66]:
df = pd.read_csv('MNCAATourneyCompactResults.csv')

In [67]:
df_2015 = df.loc[df['Season']==2015]

In [68]:
df_2015.head()

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
1916    2015     134     1214      74     1264      64    N      0
1917    2015     134     1279      94     1140      90    N      0
1918    2015     135     1173      56     1129      55    N      0
1919    2015     135     1352      81     1316      77    N      0
1920    2015     136     1112      93     1411      72    N      0

Need to get a list of all the teams in the 2015 tourney. (Will then repeat for 2016-2019)

In [69]:
teams_2015 = list(df_2015['WTeamID'].unique())
teams_2015 = teams_2015 + list(df_2015['LTeamID'].unique())
teams_2015 = list(set(teams_2015))

Now need to create a dataframe of matchup data to train a model on

In [70]:
import itertools
teams_2015.sort()

In [71]:
matchups = list(itertools.combinations(teams_2015,2))

In [72]:
def get_stats(team_id, dataframe):
    team_data = dataframe.loc[team_id][['Number of Games','Average Adjusted Off Value','Average Adjusted Def Value','Total Average Value','Wins','Avg Win Diff','Kenpom Overall','Kenpom RankAdjOE','Kenpom RankAdjDE']]
    return team_data

def matchup_data_gen(teamID_1, teamID_2, dataframe):
    try:
        team_1_data = get_stats(teamID_1, dataframe)
        team_1_data['TeamID'] = team_1_data.name

        team_2_data = get_stats(teamID_2, dataframe)
        team_2_data['TeamID'] = team_2_data.name
        team_2_data = team_2_data.add_prefix('Opp_')

        data = team_1_data.append(team_2_data).to_frame().T

        return data
    except AttributeError:
        print(teamID_1, teamID_2)

For each possible matchup generate a row for the dataframe

In [73]:
df_2015_matchups = pd.DataFrame()
for matchup in matchups:
    data = matchup_data_gen(matchup[0],matchup[1],df_all_2015)
    df_2015_matchups = pd.concat([df_2015_matchups, data])

In [135]:
df_2015_matchups.head(20)

,Number of Games,Average Adjusted Off Value,Average Adjusted Def Value,Total Average Value,Wins,Avg Win Diff,Kenpom Overall,Kenpom RankAdjOE,Kenpom RankAdjDE,TeamID,Opp_Number of Games,Opp_Average Adjusted Off Value,Opp_Average Adjusted Def Value,Opp_Total Average Value,Opp_Wins,Opp_Avg Win Diff,Opp_Kenpom Overall,Opp_Kenpom RankAdjOE,Opp_Kenpom RankAdjDE,Opp_TeamID
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,38,11.2316,-4.30416,15.5358,31,19.84,2,11,3,1112
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,36,12.5429,-2.79452,15.3374,26,13.23,29,21,81,1116
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,33,5.056,-3.30846,8.36446,23,15,15,13,33,1124
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,32,5.236,1.23114,4.00486,21,9.81,149,64,259,1125
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,32,6.35873,-0.0764212,6.43515,23,14.74,39,48,64,1129
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,33,9.59144,-4.38215,13.9736,23,12.43,54,47,94,1138
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,34,3.21928,-1.38957,4.60885,22,16,23,67,10,1139
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,33,16.7111,-4.04795,20.759,23,14.74,31,9,139,1140
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,34,-1.79315,-2.66275,0.869602,22,13.91,34,76,18,1153
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,30,1.18736,-0.642344,1.8297,20,12.6,148,136,164,1157
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,31,15.1136,0.117022,14.9966,23,16.96,32,8,181,1172
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,36,3.04822,-0.341487,3.38971,25,12.16,40,73,38,1173
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,38,15.4124,-4.46009,19.8725,29,18.55,7,3,57,1181
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,32,10.6116,-1.73329,12.3449,23,9.83,136,46,279,1186
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,33,4.83292,-3.92319,8.7561,21,12.71,22,41,25,1207
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,33,3.17384,-5.49072,8.66456,21,10.33,36,74,28,1208
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,34,5.25704,-2.16873,7.42577,23,14.83,71,58,106,1209
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,36,12.679,-4.49241,17.1714,31,18.42,6,6,20,1211
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,32,-2.42538,-1.87861,-0.546764,16,10.94,250,302,170,1214
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,28,-1.64541,-2.16899,0.523576,20,11.4,78,170,34,1217

Now to add a column indicating if the teams met in the 2015 tournement and if Team1 won.

In [107]:
df_2015_tourney_results = pd.read_csv('MNCAATourneyCompactResults.csv')

In [109]:
df_2015_tourney_results = df_2015_tourney_results.loc[df_2015_tourney_results['Season']==2015]

In [143]:
df_2015_tourney_results.head(50)

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
1916    2015     134     1214      74     1264      64    N      0
1917    2015     134     1279      94     1140      90    N      0
1918    2015     135     1173      56     1129      55    N      0
1919    2015     135     1352      81     1316      77    N      0
1920    2015     136     1112      93     1411      72    N      0
1921    2015     136     1116      56     1459      53    N      0
1922    2015     136     1139      56     1400      48    N      0
1923    2015     136     1153      66     1345      65    N      1
1924    2015     136     1207      84     1186      74    N      0
1925    2015     136     1209      57     1124      56    N      0
1926    2015     136     1246      79     1214      56    N      0
1927    2015     136     1301      66     1261      65    N      0
1928    2015     136     1314      67     1217      65    N      0
1929    2015     136     1323      69     1318      65    N      0
1930    2015     136     1326      75     1433      72    N      1
1931    2015     136     1412      60     1235      59    N      0
1932    2015     136     1417      60     1374      59    N      0
1933    2015     136     1428      57     1372      50    N      0
1934    2015     136     1437      93     1248      52    N      0
1935    2015     136     1462      76     1279      57    N      0
1936    2015     137     1173      66     1344      53    N      0
1937    2015     137     1181      85     1352      56    N      0
1938    2015     137     1211      86     1295      76    N      0
1939    2015     137     1234      83     1172      52    N      0
1940    2015     137     1242      75     1308      56    N      0
1941    2015     137     1257      57     1414      55    N      0
1942    2015     137     1268      65     1434      62    N      0
1943    2015     137     1277      70     1208      63    N      0
1944    2015     137     1320      71     1461      54    N      0
1945    2015     137     1328      69     1107      60    N      0
1946    2015     137     1332      79     1329      73    N      0
1947    2015     137     1361      76     1385      64    N      0
1948    2015     137     1438      79     1125      67    N      0
1949    2015     137     1452      68     1138      62    N      0
1950    2015     137     1455      81     1231      76    N      0
1951    2015     137     1458      86     1157      72    N      0
1952    2015     138     1112      73     1326      58    N      0
1953    2015     138     1246      64     1153      51    N      0
1954    2015     138     1301      71     1437      68    N      0
1955    2015     138     1314      87     1116      78    N      0
1956    2015     138     1323      67     1139      64    N      1
1957    2015     138     1417      92     1412      75    N      0
1958    2015     138     1428      75     1207      64    N      0
1959    2015     138     1462      75     1209      67    N      0
1960    2015     139     1181      68     1361      49    N      0
1961    2015     139     1211      87     1234      68    N      0
1962    2015     139     1257      66     1320      53    N      0
1963    2015     139     1277      60     1438      54    N      0
1964    2015     139     1328      72     1173      66    N      0
1965    2015     139     1452      69     1268      59    N      0

In [111]:
Winners = df_2015_tourney_results.WTeamID.values
Losers = df_2015_tourney_results.LTeamID.values

In [112]:
games = list(zip(Winners,Losers))

In [116]:
games_2015 = [(min(game),max(game)) for game in games]

In [139]:
def win_lose(team1, team2):
    
    if len(df_2015_tourney_results.loc[(df_2015_tourney_results['WTeamID'] == team1) & (df_2015_tourney_results['LTeamID']==team2)]) == 1:
        result = 1
    elif len(df_2015_tourney_results.loc[(df_2015_tourney_results['WTeamID'] == team2) & (df_2015_tourney_results['LTeamID']==team1)]) == 1:
        result = 0
    else:
        result = np.nan
    return result

# for game in games_2015:
#     win_lose(game)       
    
df_2015_matchups['Team Win'] = df_2015_matchups.apply(lambda x: win_lose(x['TeamID'],x['Opp_TeamID']),axis=1)

In [128]:
test = df_2015_tourney_results.loc[(df_2015_tourney_results['WTeamID'] == 1214) & (df_2015_tourney_results['LTeamID']==1264)]

In [145]:
df_2015_matchups['Year'] = 2015
df_2015_matchups.head()

,Number of Games,Average Adjusted Off Value,Average Adjusted Def Value,Total Average Value,Wins,Avg Win Diff,Kenpom Overall,Kenpom RankAdjOE,Kenpom RankAdjDE,TeamID,...,Opp_Average Adjusted Def Value,Opp_Total Average Value,Opp_Wins,Opp_Avg Win Diff,Opp_Kenpom Overall,Opp_Kenpom RankAdjOE,Opp_Kenpom RankAdjDE,Opp_TeamID,Team Win,Year
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,...,-4.30416,15.5358,31,19.84,2,11,3,1112,NaN,2015
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,...,-2.79452,15.3374,26,13.23,29,21,81,1116,NaN,2015
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,...,-3.30846,8.36446,23,15,15,13,33,1124,NaN,2015
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,...,1.23114,4.00486,21,9.81,149,64,259,1125,NaN,2015
0,33,-0.0932652,3.01816,-3.11143,24,10.12,131,117,155,1107,...,-0.0764212,6.43515,23,14.74,39,48,64,1129,NaN,2015

In [144]:
len(df_2015_matchups)

2278